{% extends 'server/master.html' %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jplayer/jplayer.blue.monday.css">
{% endblock %}

{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="{{ STATIC_URL }}jplayer/jquery.jplayer.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}jplayer/jplayer.playlist.min.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}jplayer/jquery.jplayer.inspector.js" type="text/javascript"></script>
<script src="{{ STATIC_URL }}scripts/custom.js" type="text/javascript"></script>
{% endblock %}

{% block content %}

<div id="leftNav" style="float: left; width: 500px;">
{% include 'server/player.html' %}
<h2><a href="#" id="random">Load 10 Random Songs</a></h2>
</div>

<div id="content" style="float: left;">
This is a test
</div>

{% endblock %}
