<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Media Server</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles/style.css">
    {% block styles %}
    {% endblock %}
</head>
<body>
    <div id="header">
        <h1>HomeStream Media Server</h1>
        
        <div id="welcome">
        <span>Hello, Landon</span>
        </div>
        
        <div id="searchDiv">
        <a id="libraries" href="#">Libraries</a>
        <input type="text" id="searchTerm" />
        <input type="submit" id="search" value="Search" />
        <input type="submit" id="clear" value="Clear Playlist" />
        </div>
    </div>

    {% block content %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</body>
</html>
